.navigation {
  //background-color: rgba(0, 255, 255, 0.248);
  width: 80%;
  max-width: 1350px;
  min-height: 50px;
  margin: 25px auto 0 auto;
  position: relative;
  transition: 0.3s ease;

  @media (max-width: 1100px) {
    width: 90%;
  }
  @media (min-width: $phone) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $grayishBlue;
      top: 75px;
      opacity: 0.8;
      z-index: 0;
    }
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__container--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    //background-color: antiquewhite;

    @media (max-width: $phone) {
      gap: 20px;
    }

    .hamburger-container {
      display: none;
      cursor: pointer;
      z-index: 250;
      transition: 0.25s ease-in;

      @media (max-width: $phone) {
        display: block;
      }
    }

    .hamburger-rest {
      width: 16px;
      height: 15px;
      background-image: url(../../../public/images/icon-menu.svg);
    }

    .hamburger-active {
      width: 14px;
      height: 15px;
      background-image: url(../../../public/images/icon-close.svg);
    }

    .logo {
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
    }

    .list-container {
      @media (max-width: $phone) {
        background-color: $mainWhite;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 55vw;
        max-width: 300px;
        transition: 0.5s ease-in-out;
        z-index: 200;
      }

      .list-links {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @media (max-width: $phone) {
          flex-direction: column;
          gap: 30px;
          margin-top: 130px;
          margin-left: 30px;
        }

        li {
          list-style: none;
          opacity: 0.8;
          transition: all 0.3s ease;
          position: relative;

          @media (max-width: $phone) {
            font-weight: 700;
            font-size: 18px;
            color: $blackOpacity;

            &:hover {
              color: $mainOrange;
            }
          }

          &:hover {
            opacity: 1;
          }

          &::after {
            @include underline-hover;
            @media (max-width: $phone) {
              display: none;
            }
          }
          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    .list-active {
      @media (max-width: $phone) {
        left: 0;
      }
    }
  }

  &__container--right {
    display: flex;
    align-items: center;
    gap: 45px;
    position: relative;
    //background-color: rgba(217, 250, 215, 0.716);

    @media (max-width: $phone) {
      gap: 20px;
    }

    @media (max-width: 450px) {
      gap: 10px;
    }

    .icon-cart,
    .icon-logout {
      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }
    }

    .icon-cart {
      width: 26px;
      height: 24px;
      margin-top: 5px;
      cursor: pointer;
      transition: 0.3s ease;
      position: relative;
      //background-color: antiquewhite;

      &__popup {
        position: absolute;
        display: grid;
        place-items: center;
        width: 18px;
        height: 14px;
        background-color: $mainOrange;
        font-size: 10px;
        color: $mainWhite;
        border-radius: 15px;
        top: -6px;
        right: -2px;
      }
    }
    .profile {
      display: flex;
      align-items: center;
      gap: 1rem;
      //background-color: rgba(0, 255, 255, 0.281);

      .icon-profile {
        width: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        border-radius: 50%;

        &:hover {
          box-shadow: 0 0 0 2px $mainOrange;
        }
      }

      .profile-active {
        box-shadow: 0 0 0 2px $mainOrange;
      }
      .icon-logout {
        width: 20px;
        height: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
      }
    }

    .login-logout {
      opacity: 0.8;
      transition: 0.3s ease;
      cursor: pointer;
      position: relative;

      &:hover {
        opacity: 1;
      }
      &::after {
        @include underline-hover;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .nav-active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: -40px;
      left: 0;
      background-color: $mainOrange;
    }
  }

  //excludes login/signin for the left underlining effect on small screens
  ul > .nav-active {
    &::after {
      @media (max-width: $phone) {
        height: 100%;
        width: 3px;
        bottom: 0;
        left: -30px;
      }
    }
  }
}

//darken the body when menu is open on small screens
.layer-dim {
  @media (max-width: $phone) {
    @include dim-background(0.65);
    z-index: 100;
  }
}
