.product__popup {
  z-index: 30;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);

  @media (max-width: $phone) {
    display: none;
  }

  .popup__full {
    max-width: 450px;
    cursor: auto;

    &:hover {
      transform: scale(1);
      opacity: 1;
    }
  }

  .next-previous__container {
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 40;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $mainWhite;
    cursor: pointer;
    transition: 0.5s ease-out;

    &:hover {
      .btn-previous,
      .btn-next {
        @include orange-filter-svg;
      }
    }

    .btn-previous,
    .btn-next {
      width: 10px;
      filter: brightness(1) invert(0);
      z-index: 50;
    }
  }

  .previous__container {
    top: 38%;
    left: -20px;
  }

  .next__container {
    top: 38%;
    right: -20px;
  }

  .popup__miniature {
    display: flex;
    justify-content: space-evenly;
  }

  .close-btn {
    position: absolute;
    transform: scale(1.3);
    padding: 5px;
    top: -40px;
    right: 0;
    filter: brightness(0) invert(0.95);
    cursor: pointer;
    transition: all 1s ease;

    &:hover {
      @include orange-filter-svg;
    }
  }
}

.popup-dim {
  @include dim-background(0.8);
  z-index: 20;

  @media (max-width: $phone) {
    display: none;
  }
}
